/* reset css */
body {
  font-size: 10px;
}
body, ul {
  padding: 0;
  margin: 0;
}
p {
  font-size: 16px;
  margin: 0;
}
/* /reset css */

button {
  cursor: pointer;
}

.memo_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 80px;
  padding: 100px;
}

.add_memo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

}

.memo {
  border: 1px solid black;
  background-color: #ffff99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 20px;
  min-height: 250px;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}
.memo.write {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list {
  border: 1px solid black;
  background-color: #ffff99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  padding: 20px;
  height: 250px;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
  position: static;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  overflow: auto;
}

.memo * {
  font-size: 16px;
}
textarea, input {
  background-color:#ffff99;
  resize: none;
}
.memo_btn {
  display: flex;
  justify-content: flex-end;
}
.memo_btn button {
  background-color:#ffff99;
  border: none;
}

.del {
  width: fit-content;
  padding: 5px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  position: fixed;
  right: 10px;
  top: 10px;
}